.fieldSet {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 119%;
    letter-spacing: -0.03em;
  }

  p {
    line-height: 150%;
    color: var(--gray-400);
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.forgotPassword {
  margin-left: auto;
  font-size: 14px;
  font-weight: 500;
  color: var(--brand-colors-orange-brand-100);
}

.button {
  max-width: 100%;
  width: 100%;
}

.navigate {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-size: 14px;
  line-height: 143%;
  max-width: 100%;
  margin: 0 auto;

  span {
    color: #667085;
  }

  a {
    font-weight: 500;
    text-align: right;
    color: var(--brand-colors-orange-brand-100);
  }
}
