.fieldSet {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 119%;
    letter-spacing: -0.03em;
  }

  p {
    line-height: 150%;
    color: var(--gray-400);
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.button {
  max-width: 100%;
  width: 100%;
}
