.spinner {
  display: inline-block;
  border: 2px solid var(--neutral-white);
  border-right-color: var(--brand-colors-blue-200);
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  flex-shrink: 0;
}

.small {
  width: 14px;
  height: 14px;
}

.medium {
  width: 40px;
  height: 40px;
}

.large {
  width: 80px;
  height: 80px;
}

.xlarge {
  width: 120px;
  height: 120px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
