.fieldSet {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.icon {
  border-radius: 8px;
  width: 48px;
  height: 48px;
  background: var(--states-success-10);
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color: var(--states-success-100);
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 119%;
    letter-spacing: -0.03em;
  }

  p {
    line-height: 150%;
    color: var(--gray-400);
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.button {
  max-width: 100%;
  width: 100%;
}

.login {
  margin: 0 auto;
}
